
VCard.xcodeproj/project.xcworkspace/contents.xcworkspacedata

VCard.xcodeproj/project.xcworkspace/xcuserdata/GabrielYeah.xcuserdatad/UserInterfaceState.xcuserstate

VCard.xcodeproj/xcuserdata/GabrielYeah.xcuserdatad/xcschemes/VCard.xcscheme

VCard.xcodeproj/xcuserdata/GabrielYeah.xcuserdatad/xcschemes/xcschememanagement.plist

VCard.xcodeproj/xcuserdata/GabrielYeah.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

.DS_Store
