VCard.xcodeproj/project.xcworkspace/contents.xcworkspacedata
VCard.xcodeproj/project.xcworkspace/xcuserdata/bluebitch.xcuserdatad/UserInterfaceState.xcuserstate
VCard.xcodeproj/xcuserdata/bluebitch.xcuserdatad/xcschemes/VCard.xcscheme
VCard.xcodeproj/xcuserdata/bluebitch.xcuserdatad/xcschemes/xcschememanagement.plist
