<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>EmoticonsInfoDict</key>
        <dict>
            <key>兔子</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>0</integer>
                <key>ImageName</key>
                <string>tuzi</string>
            </dict>
            <key>熊猫</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>1</integer>
                <key>ImageName</key>
                <string>xiongmao</string>
            </dict>
            <key>给力</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>2</integer>
                <key>ImageName</key>
                <string>geili</string>
            </dict>
            <key>神马</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>3</integer>
                <key>ImageName</key>
                <string>shenma</string>
            </dict>
            <key>浮云</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>4</integer>
                <key>ImageName</key>
                <string>fuyun</string>
            </dict>
            <key>织</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>5</integer>
                <key>ImageName</key>
                <string>zhi</string>
            </dict>
            <key>围观</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>6</integer>
                <key>ImageName</key>
                <string>weiguan</string>
            </dict>
            <key>威武</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>7</integer>
                <key>ImageName</key>
                <string>weiwu</string>
            </dict>
            <key>嘻嘻</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>8</integer>
                <key>ImageName</key>
                <string>xixi</string>
            </dict>
            <key>哈哈</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>9</integer>
                <key>ImageName</key>
                <string>haha</string>
            </dict>
            <key>爱你</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>10</integer>
                <key>ImageName</key>
                <string>aini</string>
            </dict>
            <key>晕</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>11</integer>
                <key>ImageName</key>
                <string>yun</string>
            </dict>
            <key>泪</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>12</integer>
                <key>ImageName</key>
                <string>lei</string>
            </dict>
            <key>馋嘴</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>13</integer>
                <key>ImageName</key>
                <string>chanzui</string>
            </dict>
            <key>抓狂</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>14</integer>
                <key>ImageName</key>
                <string>zhuakuang</string>
            </dict>
            <key>哼</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>15</integer>
                <key>ImageName</key>
                <string>heng</string>
            </dict>
            <key>可爱</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>16</integer>
                <key>ImageName</key>
                <string>keai</string>
            </dict>
            <key>怒</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>17</integer>
                <key>ImageName</key>
                <string>nu</string>
            </dict>
            <key>汗</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>18</integer>
                <key>ImageName</key>
                <string>han</string>
            </dict>
            <key>呵呵</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>19</integer>
                <key>ImageName</key>
                <string>hehe</string>
            </dict>
            <key>睡觉</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>20</integer>
                <key>ImageName</key>
                <string>shuijiao</string>
            </dict>
        </dict>
    </dict>
</plist>
