<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>EmoticonsInfoDict</key>
        <dict>
            <key>兔子</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>0</integer>
                <key>ImageName</key>
                <string>tuzi</string>
            </dict>
            <key>熊猫</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>1</integer>
                <key>ImageName</key>
                <string>xiongmao</string>
            </dict>
            <key>给力</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>2</integer>
                <key>ImageName</key>
                <string>geili</string>
            </dict>
            <key>神马</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>3</integer>
                <key>ImageName</key>
                <string>shenma</string>
            </dict>
            <key>浮云</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>4</integer>
                <key>ImageName</key>
                <string>fuyun</string>
            </dict>
            <key>织</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>5</integer>
                <key>ImageName</key>
                <string>zhi</string>
            </dict>
            <key>围观</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>6</integer>
                <key>ImageName</key>
                <string>weiguan</string>
            </dict>
            <key>威武</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>7</integer>
                <key>ImageName</key>
                <string>weiwu</string>
            </dict>
            <key>嘻嘻</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>8</integer>
                <key>ImageName</key>
                <string>xixi</string>
            </dict>
            <key>哈哈</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>9</integer>
                <key>ImageName</key>
                <string>haha</string>
            </dict>
            <key>爱你</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>10</integer>
                <key>ImageName</key>
                <string>aini</string>
            </dict>
            <key>晕</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>11</integer>
                <key>ImageName</key>
                <string>yun</string>
            </dict>
            <key>泪</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>12</integer>
                <key>ImageName</key>
                <string>lei</string>
            </dict>
            <key>馋嘴</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>13</integer>
                <key>ImageName</key>
                <string>chanzui</string>
            </dict>
            <key>抓狂</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>14</integer>
                <key>ImageName</key>
                <string>zhuakuang</string>
            </dict>
            <key>哼</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>15</integer>
                <key>ImageName</key>
                <string>heng</string>
            </dict>
            <key>可爱</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>16</integer>
                <key>ImageName</key>
                <string>keai</string>
            </dict>
            <key>怒</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>17</integer>
                <key>ImageName</key>
                <string>nu</string>
            </dict>
            <key>汗</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>18</integer>
                <key>ImageName</key>
                <string>han</string>
            </dict>
            <key>呵呵</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>19</integer>
                <key>ImageName</key>
                <string>hehe</string>
            </dict>
            <key>睡觉</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>20</integer>
                <key>ImageName</key>
                <string>shuijiao</string>
            </dict>
            <key>钱</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>21</integer>
                <key>ImageName</key>
                <string>qian</string>
            </dict>
            <key>偷笑</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>22</integer>
                <key>ImageName</key>
                <string>touxiao</string>
            </dict>
            <key>酷</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>23</integer>
                <key>ImageName</key>
                <string>ku</string>
            </dict>
            <key>衰</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>24</integer>
                <key>ImageName</key>
                <string>shuai</string>
            </dict>
            <key>吃惊</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>25</integer>
                <key>ImageName</key>
                <string>chijing</string>
            </dict>
            <key>闭嘴</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>26</integer>
                <key>ImageName</key>
                <string>bizui</string>
            </dict>
            <key>鄙视</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>27</integer>
                <key>ImageName</key>
                <string>bishi</string>
            </dict>
            <key>挖鼻屎</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>28</integer>
                <key>ImageName</key>
                <string>wabishi</string>
            </dict>
            <key>花心</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>29</integer>
                <key>ImageName</key>
                <string>huaxin</string>
            </dict>
            <key>鼓掌</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>30</integer>
                <key>ImageName</key>
                <string>guzhang</string>
            </dict>
            <key>失望</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>31</integer>
                <key>ImageName</key>
                <string>shiwang</string>
            </dict>
            <key>帅</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>32</integer>
                <key>ImageName</key>
                <string>handsome</string>
            </dict>
            <key>照相机</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>33</integer>
                <key>ImageName</key>
                <string>zhaoxiangji</string>
            </dict>
            <key>落叶</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>34</integer>
                <key>ImageName</key>
                <string>luoye</string>
            </dict>
            <key>汽车</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>35</integer>
                <key>ImageName</key>
                <string>qiche</string>
            </dict>
            <key>飞机</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>36</integer>
                <key>ImageName</key>
                <string>feiji</string>
            </dict>
            <key>奥特曼</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>37</integer>
                <key>ImageName</key>
                <string>aoteman</string>
            </dict>
            <key>爱心传递</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>38</integer>
                <key>ImageName</key>
                <string>aixinchuandi</string>
            </dict>
            <key>实习</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>39</integer>
                <key>ImageName</key>
                <string>shixi</string>
            </dict>
            <key>思考</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>40</integer>
                <key>ImageName</key>
                <string>sikao</string>
            </dict>
            <key>生病</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>41</integer>
                <key>ImageName</key>
                <string>shengbing</string>
            </dict>
            <key>亲亲</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>42</integer>
                <key>ImageName</key>
                <string>qinqin</string>
            </dict>
            <key>怒骂</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>43</integer>
                <key>ImageName</key>
                <string>numa</string>
            </dict>
            <key>太开心</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>44</integer>
                <key>ImageName</key>
                <string>taikaixin</string>
            </dict>
            <key>懒得理你</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>45</integer>
                <key>ImageName</key>
                <string>landelini</string>
            </dict>
            <key>右哼哼</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>46</integer>
                <key>ImageName</key>
                <string>youhengheng</string>
            </dict>
            <key>左哼哼</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>47</integer>
                <key>ImageName</key>
                <string>zuohengheng</string>
            </dict>
            <key>嘘</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>48</integer>
                <key>ImageName</key>
                <string>xu</string>
            </dict>
            <key>委屈</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>49</integer>
                <key>ImageName</key>
                <string>weiqu</string>
            </dict>
            <key>吐</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>50</integer>
                <key>ImageName</key>
                <string>tu</string>
            </dict>
            <key>可怜</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>51</integer>
                <key>ImageName</key>
                <string>kelian</string>
            </dict>
            <key>打哈气</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>52</integer>
                <key>ImageName</key>
                <string>dahaqi</string>
            </dict>
            <key>顶</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>53</integer>
                <key>ImageName</key>
                <string>ding</string>
            </dict>
            <key>疑问</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>54</integer>
                <key>ImageName</key>
                <string>yiwen</string>
            </dict>
            <key>做鬼脸</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>55</integer>
                <key>ImageName</key>
                <string>zuoguilian</string>
            </dict>
            <key>害羞</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>56</integer>
                <key>ImageName</key>
                <string>haixiu</string>
            </dict>
            <key>书呆子</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>57</integer>
                <key>ImageName</key>
                <string>shudaizi</string>
            </dict>
            <key>困</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>58</integer>
                <key>ImageName</key>
                <string>kun</string>
            </dict>
            <key>悲伤</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>59</integer>
                <key>ImageName</key>
                <string>beishang</string>
            </dict>
            <key>感冒</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>60</integer>
                <key>ImageName</key>
                <string>ganmao</string>
            </dict>
            <key>拜拜</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>61</integer>
                <key>ImageName</key>
                <string>baibai</string>
            </dict>
            <key>黑线</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>62</integer>
                <key>ImageName</key>
                <string>heixian</string>
            </dict>
            <key>不要</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>63</integer>
                <key>ImageName</key>
                <string>buyao</string>
            </dict>
            <key>good</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>64</integer>
                <key>ImageName</key>
                <string>good</string>
            </dict>
            <key>弱</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>65</integer>
                <key>ImageName</key>
                <string>ruo</string>
            </dict>
            <key>ok</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>66</integer>
                <key>ImageName</key>
                <string>ok</string>
            </dict>
            <key>赞</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>67</integer>
                <key>ImageName</key>
                <string>zan</string>
            </dict>
            <key>来</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>68</integer>
                <key>ImageName</key>
                <string>lai</string>
            </dict>
            <key>耶</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>69</integer>
                <key>ImageName</key>
                <string>ye</string>
            </dict>
            <key>haha</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>70</integer>
                <key>ImageName</key>
                <string>haha_gesture</string>
            </dict>
            <key>拳头</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>71</integer>
                <key>ImageName</key>
                <string>quantou</string>
            </dict>
            <key>最差</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>72</integer>
                <key>ImageName</key>
                <string>zuicha</string>
            </dict>
            <key>握手</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>73</integer>
                <key>ImageName</key>
                <string>woshou</string>
            </dict>
            <key>心</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>74</integer>
                <key>ImageName</key>
                <string>xin</string>
            </dict>
            <key>伤心</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>75</integer>
                <key>ImageName</key>
                <string>shangxin</string>
            </dict>
            <key>猪头</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>76</integer>
                <key>ImageName</key>
                <string>zhutou</string>
            </dict>
            <key>咖啡</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>77</integer>
                <key>ImageName</key>
                <string>kafei</string>
            </dict>
            <key>话筒</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>78</integer>
                <key>ImageName</key>
                <string>huatong</string>
            </dict>
            <key>月亮</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>79</integer>
                <key>ImageName</key>
                <string>yueliang</string>
            </dict>
            <key>太阳</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>80</integer>
                <key>ImageName</key>
                <string>taiyang</string>
            </dict>
            <key>干杯</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>81</integer>
                <key>ImageName</key>
                <string>ganbei</string>
            </dict>
            <key>萌</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>82</integer>
                <key>ImageName</key>
                <string>meng</string>
            </dict>
            <key>礼物</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>83</integer>
                <key>ImageName</key>
                <string>liwu</string>
            </dict>
            <key>互粉</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>84</integer>
                <key>ImageName</key>
                <string>hufen</string>
            </dict>
            <key>蜡烛</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>85</integer>
                <key>ImageName</key>
                <string>lazhu</string>
            </dict>
            <key>绿丝带</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>86</integer>
                <key>ImageName</key>
                <string>lvsidai</string>
            </dict>
            <key>沙尘暴</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>87</integer>
                <key>ImageName</key>
                <string>shachenbao</string>
            </dict>
            <key>钟</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>88</integer>
                <key>ImageName</key>
                <string>zhong</string>
            </dict>
            <key>自行车</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>89</integer>
                <key>ImageName</key>
                <string>zixingche</string>
            </dict>
            <key>蛋糕</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>90</integer>
                <key>ImageName</key>
                <string>dangao</string>
            </dict>
            <key>围脖</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>91</integer>
                <key>ImageName</key>
                <string>weibo</string>
            </dict>
            <key>手套</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>92</integer>
                <key>ImageName</key>
                <string>shoutao</string>
            </dict>
            <key>雪</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>93</integer>
                <key>ImageName</key>
                <string>xue</string>
            </dict>
            <key>雪人</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>94</integer>
                <key>ImageName</key>
                <string>xueren</string>
            </dict>
            <key>温暖帽子</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>95</integer>
                <key>ImageName</key>
                <string>wennuanmaozi</string>
            </dict>
            <key>微风</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>96</integer>
                <key>ImageName</key>
                <string>weifeng</string>
            </dict>
            <key>足球</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>97</integer>
                <key>ImageName</key>
                <string>zuqiu</string>
            </dict>
            <key>电影</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>98</integer>
                <key>ImageName</key>
                <string>dianying</string>
            </dict>
            <key>风扇</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>99</integer>
                <key>ImageName</key>
                <string>fengshan</string>
            </dict>
            <key>玫瑰</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>100</integer>
                <key>ImageName</key>
                <string>meigui</string>
            </dict>
            <key>喜</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>101</integer>
                <key>ImageName</key>
                <string>xi</string>
            </dict>
            <key>手机</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>102</integer>
                <key>ImageName</key>
                <string>shouji</string>
            </dict>
            <key>音乐</key>
            <dict>
                <key>PriorityLevel</key>
                <integer>103</integer>
                <key>ImageName</key>
                <string>yinyue</string>
            </dict>
        </dict>
    </dict>
</plist>
