<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kSettingInfoSectionArray</key>
	<array>
		<dict>
			<key>kSectionName</key>
			<string>Group0</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>关于</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>AppInfoViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>版权</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>LegacyViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
			</array>
		</dict>
        <dict>
			<key>kSectionName</key>
			<string>Group1</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>切换账户</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>AppInfoViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>添加新账户</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>LegacyViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionName</key>
			<string>Group2</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>字体大小</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>SettingUIStyleViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>亮度</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>SettingUIStyleViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
				</dict>
			</array>
		</dict>
        <dict>
			<key>kSectionName</key>
			<string>Group4</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>自动定位</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kNibFileName</key>
					<string>AppInfoViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
				</dict>
			</array>
		</dict>
        <dict>
			<key>kSectionName</key>
			<string>Group5</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>智能节省流量</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kNibFileName</key>
					<string>AppInfoViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
