<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kSettingInfoSectionArray</key>
	<array>
		<dict>
			<key>kSectionIdentifier</key>
			<string>Group0</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>关于</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>SettingAppInfoViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_about</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>版权</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>SettingLegacyViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kPushNavigationController</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_legal</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>手势操作指南</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_gesture</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
					<key>kNibFileName</key>
					<string>GuideBookViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionIdentifier</key>
			<string>Group1</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>kSettingCurrentUserCell</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kItemContent</key>
					<string>注销</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_empty</string>
					<key>kWayToPresentViewController</key>
					<string>kUseSelector</string>
					<key>kNibFileName</key>
					<string>didClickLogoutCell</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>切换帐户</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>LoginViewController</string>
					<key>kWayToPresentViewController</key>
					<string>kModalViewController</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_switch</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>添加新帐户</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>didClickCreateNewAccountCell</string>
					<key>kWayToPresentViewController</key>
					<string>kUseSelector</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_new</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionIdentifier</key>
			<string>Group2</string>
			<key>kSectionFooter</key>
			<string>加载适用于视网膜屏幕的微博图片，可能需要更多的数据流量。</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>字体大小</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>SettingOptionFontSize</string>
					<key>kWayToPresentViewController</key>
					<string>kPushOptionViewController</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_font</string>
					<key>kNotificationName</key>
					<string>kNotificationNameShouldRefreshWaterflowView</string>
				</dict>
                <dict>
					<key>kItemTitle</key>
					<string>总是显示发表时间</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_time</string>
					<key>kNibFileName</key>
					<string>SettingEnableDateDisplay</string>
					<key>kNotificationName</key>
					<string>kNotificationNameShouldRefreshWaterflowView</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>显示图片</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_image</string>
					<key>kNibFileName</key>
					<string>SettingEnablePicture</string>
					<key>kNotificationName</key>
					<string>kNotificationNameShouldRefreshWaterflowView</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>高清图片</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_retina</string>
					<key>kNibFileName</key>
					<string>SettingEnableRetinaDisplay</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionIdentifier</key>
			<string>Group3</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>消息提示</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>SettingOptionNotification</string>
					<key>kWayToPresentViewController</key>
					<string>kPushOptionViewController</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_notifications</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>音效</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_sound</string>
					<key>kNibFileName</key>
					<string>SettingEnableSoundEffect</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionIdentifier</key>
			<string>Group4</string>
			<key>kSectionFooter</key>
			<string>新建卡片时自动附带位置信息。</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>自动定位</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_locate</string>
					<key>kNibFileName</key>
					<string>SettingEnableAutoLocate</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionIdentifier</key>
			<string>Group5</string>
			<key>kSectionFooter</key>
			<string>当在 3G 网络中使用 VCard 时，自动节省可以为您节约数据费用，但微博图像的质量会降低。</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>智能节省流量</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeSwitch</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_cellcular</string>
					<key>kNibFileName</key>
					<string>SettingEnableAutoTrafficSaving</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>kSettingAppInfoSectionArray</key>
	<array>
		<dict>
			<key>kSectionIdentifier</key>
			<string>kSettingAppInfoSectionAbout</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>告诉朋友</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>didClickTellFriendsCell</string>
					<key>kWayToPresentViewController</key>
					<string>kUseSelector</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>为 VCard 评分</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>didClickRateCell</string>
					<key>kWayToPresentViewController</key>
					<string>kUseSelector</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>问题反馈和意见</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeDisclosure</string>
					<key>kNibFileName</key>
					<string>didClickFeedbackCell</string>
					<key>kWayToPresentViewController</key>
					<string>kUseSelector</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>kSectionIdentifier</key>
			<string>kSettingAppInfoSectionTeam</string>
			<key>kSectionHeader</key>
			<string>团队</string>
			<key>kSectionFooter</key>
			<string>\n4.0\n\n© Mondev</string>
			<key>kSectionArray</key>
			<array>
				<dict>
					<key>kItemTitle</key>
					<string>kTeamMemberCell</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeWatchButton</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_empty</string>
					<key>kNibFileName</key>
					<string>2478499604</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>kTeamMemberCell</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeWatchButton</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_empty</string>
					<key>kNibFileName</key>
					<string>1607786282</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>kTeamMemberCell</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeWatchButton</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_empty</string>
					<key>kNibFileName</key>
					<string>2098187203</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>kTeamMemberCell</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeWatchButton</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_empty</string>
					<key>kNibFileName</key>
					<string>1808047872</string>
				</dict>
				<dict>
					<key>kItemTitle</key>
					<string>kTeamMemberCell</string>
					<key>kAccessoryType</key>
					<string>kAccessoryTypeWatchButton</string>
					<key>kItemImageFileName</key>
					<string>icon_settings_empty</string>
					<key>kNibFileName</key>
					<string>1662949465</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
